{% extends 'base.html' %}

{% block content %}

<div class="p-3 list-inline">
    <div class="rounded-circle mb-2 list-inline-item">
        <img src="{{ user.profile_image.url }}">
    </div>
    <div class="list-inline-item">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div>
</div>

{% endblock %}

{% block extra_css %}
<style>
    /* Hide labels for Instagram style */
    form label {
        display: none;
    }

    /* Add some spacing for the inputs since labels are gone */
    form input,
    form textarea,
    form select {
        margin-bottom: 10px;
        width: 100%;
        /* Ensure full width */
        padding: 8px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
    }
</style>
{% endblock %}